* {
padding: 0px;
margin: 0px;
}

#big-box {
    width: 100vw;
    height: 100vh;
    background-color: bisque;
}

#mn {
    width: 100vw;
    height: 80vh;
    background-color: teal;
    
}
#ft {
    width: 100vw;
    height: 10vh;
    background-color: blue;
    
}

.hd-sec {
    border: 1px solid #000;
}

/*-------------------------header----------*/
#hd {
    width: 100vw;
    height: 10vh;
    background-color: darkolivegreen;
    display: flex;
}

#hd-1 {
    /* width: 20vw;
    height: 10px; */
    flex: 3;

}
#hd-2 {
    /* width: 50vw;
    height: 10px; */
    flex: 5;
}
#hd-3 {
    /* width: 30vw;
    height: 10px; */
    flex: 3;
}
/*---------------------main----------------------*/