* {
padding: 0px;
margin: 0px;
}

#big-box {
    width: 100vw;
    height: 10vh;
    background-color: bisque;
}

#hd {
    width: 100vw;
    height: 80vh;
    background-color: darkolivegreen;
    
}
#mm {
    width: 100vw;
    height: 10vh;
    background-color: beige;
    
}
#ft {
    width: 100vw;
    height: 10vh;
    background-color: teal;
    
}